################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinDateFrom/bin/Release
/WinDateFrom/obj
