################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/WInDateFrom.maui/bin
/WInDateFrom.maui/obj
